<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to REFERABLE, <%= @user.email %></h1>
    
    <p>
      Share this link: https://referable.herokuapp.com/?ref=<%= @user.referral_code %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>